.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.layout {
  width: 80%;
  margin-left: 16px;
  margin-right: 16px;  
}
.paper {
  padding: 16px;
}
.slider {
  padding: 40px;
}
.sliderGap {
  padding: 40px;
}
.otherDetails {
  padding: 8px 0 8px 0;
}
.root {
  width: 75%,
}
.thumb {
  padding: 22px 0px;
}
.thumbIcon {
  padding: 12px 0px;
  border-radius: 50%;
}
.thumbIconWrapper {
  background-color: #3f51b5,
}
.track {
  padding: 2px 0px,
}
.trackBefore {
  padding: 5px 0px;
}
.button {
  margin-top: 24px;
  margin-left: 8px;
}
.sliderLeftLabel {
  float: left;
  /*padding-left: 12.5%;*/
  margin-top: -32px;
}
.sliderRightLabel {
  float: right;
  /*padding-right: 12.5%;*/
  margin-top: -32px;
}
.sliderTrackValue {
  padding-top: 15px;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination button {
  height: 36px;
}

.pagination > .next {
  height: 36px;
}

.pagination > .previous {
  height: 36px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.col-md-12 {
  width: 100%;
}

.col-md-9 {
  width: 75%;
}

.col-md-3 {
  width: 25%;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
